*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;

    background-image: url(221\ .png);
    background-size: cover;
   height: 100vh;
background-attachment: local    ;
text-shadow: 20px   ;
 
  
    
    
}


a{
    text-decoration: none;
    color: white;
    background-attachment: scroll;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    background-attachment: scroll;


  
}
header.logo{
    font-size: 50px;
    text-transform: uppercase;

}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li a{
    margin-right: 35px;
}
header ul li a ,.active{
    
    padding: 6px 15px;  
    border-radius: 20px  40px;
}
header ul li a:hover{
    background: greenyellow;
    color:(38, 3, 49) ;

}
 body h1[id="hellow"]{
    border: 20px 40px;
    padding: 6px 15px;
    border-radius:  20px  40px;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    border-color: blue  ;
  
}
